{# {% extends 'base.html.twig' %}
{% block title %}New Catégories
{% endblock %}

{% block body %}
	<h1>Create new Catégories</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

{% endblock %} #}
