<footer class="footer-bar">
	<ul class='footerAll'>
		<li class='linkFooter'>
			<a href="{{ path('app_about') }}">A Propos</a>
		</li>
		<li class='linkFooter'>
			<a href="{{ path('app_cgv') }}">CGV</a>
		</li>
	</ul>
	<p class="design">Design by Wildsupplies.co</p>

</footer>
